# Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
*.lock

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

# VS Code & IntelliJ
.vscode/
.idea/
*.iml
*.log

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/
ios/build/

# macOS
macos/Flutter/ephemeral/
macos/build/

# Web
web/.dart_tool/
web/build/

# Windows
windows/Flutter/ephemeral/
windows/build/

# Linux
linux/Flutter/ephemeral/
linux/build/
